# Explanatory Data Analysis & Data Presentation (Movies Dataset)

## Data Import and first Inspection

1. __Import__ the movies dataset from the CSV file "movies_complete.csv". __Inspect__ the data.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

In [2]:
df = pd.read_csv("movies_complete.csv", parse_dates = ["release_date"])
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.00,6.90,17.02,104.00,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer

__Some additional information on Features/Columns__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [3]:
df.info()
# many missing values in budget_musd & revenue_musd
# parse_dates = ["release_date"] - hence, release_date in datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44691 entries, 0 to 44690
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44691 non-null  int64
 1   title                  44691 non-null  object
 2   tagline                20284 non-null  object
 3   release_date           44657 non-null  datetime64[ns]
 4   genres                 42586 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44681 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38835 non-null  object
 11  vote_count             44691 non-null  float64
 12  vote_average           42077 non-null  float64
 13  popularity             44691 non-null  float64
 14  runtime                43179 non-null  float64
 15  overview               43740 non-null  object
 16  spoken_languages       41094 non-null  object
 17  poster_path            44467 non-null  object
 18  cast                   42502 non-null  object
 19  cast_size              44691 non-null  int64
 20  crew_size              44691 non-null  int64
 21  director               43960 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(12)
memory usage: 7.5+ MB

In [4]:
df.describe()

,id,budget_musd,revenue_musd,vote_count,vote_average,popularity,runtime,cast_size,crew_size
count,44691.00,8854.00,7385.00,44691.00,42077.00,44691.00,43179.00,44691.00,44691.00
mean,107186.24,21.67,68.97,111.65,6.00,2.96,97.57,12.48,10.31
std,111806.36,34.36,146.61,495.32,1.28,6.04,34.65,12.12,15.89
min,2.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
25%,26033.50,2.00,2.41,3.00,5.30,0.40,86.00,6.00,2.00
50%,59110.00,8.20,16.87,10.00,6.10,1.15,95.00,10.00,6.00
75%,154251.00,25.00,67.64,35.00,6.80,3.77,107.00,15.00,12.00
max,469172.00,380.00,2787.97,14075.00,10.00,547.49,1256.00,313.00,435.00

In [5]:
df.describe(include = "O")
# 44691 non-missing values in title

,title,tagline,genres,belongs_to_collection,original_language,production_companies,production_countries,overview,spoken_languages,poster_path,cast,director
count,44691,20284,42586,4463,44681,33356,38835,43740,41094,44467,42502,43960
unique,41605,20171,4044,1691,89,22537,2377,43715,1828,44456,42166,17349
top,Cinderella,Based on a true story.,Drama,The Bowery Boys,en,Metro-Goldwyn-Mayer (MGM),United States of America,Adaptation of the Jane Austen novel.,English,<img src='http://image.tmdb.org/t/p/w185//qW1o...,Georges Méliès,John Ford
freq,11,7,4935,29,31755,741,17723,3,22189,3,24,66

In [6]:
df[df.belongs_to_collection == "James Bond Collection"].head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
9,710,GoldenEye,No limits. No fears. No substitutes.,1995-11-16,Adventure|Action|Thriller,James Bond Collection,en,58.00,352.19,United Artists|Eon Productions,United Kingdom|United States of America,1194.00,6.60,14.69,130.00,James Bond must unmask the mysterious head of ...,English|Pусский|Español,<img src='http://image.tmdb.org/t/p/w185//z0lj...,Pierce Brosnan|Sean Bean|Izabella Scorupco|Fam...,20,46,Martin Campbell
1621,714,Tomorrow Never Dies,Yesterday is a memory. Today is history. Tomor...,1997-12-11,Adventure|Action|Thriller,James Bond Collection,en,110.00,333.01,Eon Productions,United Kingdom|United States of America,941.00,6.00,17.16,119.00,A deranged media mogul is staging internationa...,Deutsch|English|Dansk|普通话|广州话 / 廣州話,<img src='http://image.tmdb.org/t/p/w185//3NJx...,Pierce Brosnan|Jonathan Pryce|Michelle Yeoh|Te...,34,20,Roger Spottiswoode
2240,707,A View to a Kill,Has James Bond finally met his match?,1985-05-24,Adventure|Action|Thriller,James Bond Collection,en,30.00,152.43,Eon Productions,France|Iceland|United Kingdom|United States of...,515.00,6.00,12.84,131.00,A newly developed microchip designed by Zorin ...,English,<img src='http://image.tmdb.org/t/p/w185//ieMT...,Roger Moore|Christopher Walken|Tanya Roberts|G...,42,16,John Glen
2804,658,Goldfinger,Everything he touches turns into excitement!,1964-09-17,Adventure|Action|Thriller,James Bond Collection,en,2.50,124.88,United Artists|Eon Productions|Danjaq,United Kingdom|United States of America,1005.00,7.20,13.79,110.00,Special agent 007 (Sean Connery) comes face to...,普通话|English|Español,<img src='http://image.tmdb.org/t/p/w185//iMjC...,Sean Connery|Honor Blackman|Gert Fröbe|Shirley...,38,13,Guy Hamilton
2805,657,From Russia with Love,The world's masters of murder pull out all the...,1963-10-11,Action|Thriller|Adventure,James Bond Collection,en,2.00,78.90,United Artists|Eon Productions|Danjaq,United Kingdom,773.00,6.90,12.54,115.00,Agent 007 is back in the second installment of...,English|Pусский|Türkçe|Română,<img src='http://image.tmdb.org/t/p/w185//xTle...,Sean Connery|Daniela Bianchi|Pedro Armendáriz|...,45,29,Terence Young

## The best and the worst movies...

2. __Filter__ the Dataset and __find the best/worst n Movies__ with the

- Highest Revenue
- Highest Budget
- Highest Profit (=Revenue - Budget)
- Lowest Profit (=Revenue - Budget)
- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10) 
- Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
- Highest number of Votes
- Highest Rating (only movies with 10 or more Ratings)
- Lowest Rating (only movies with 10 or more Ratings)
- Highest Popularity

__Define__ an appropriate __user-defined function__ to reuse code.

__Movies Top 5 - Highest Revenue__

In [7]:
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.00,6.90,17.02,104.00,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer

In [8]:
df.iloc[df.revenue_musd.sort_values(ascending = False).head(5).index].title

14448                          Avatar
26265    Star Wars: The Force Awakens
1620                          Titanic
17669                    The Avengers
24812                  Jurassic World
Name: title, dtype: object

__Movies Top 5 - Highest Budget__

In [9]:
df.iloc[df.budget_musd.sort_values(ascending = False).head(5).index].title

16986    Pirates of the Caribbean: On Stranger Tides
11743       Pirates of the Caribbean: At World's End
26268                        Avengers: Age of Ultron
10985                               Superman Returns
18517                                    John Carter
Name: title, dtype: object

__Movies Top 5 - Highest Profit__

Highest Profit (=Revenue - Budget)

In [10]:
df["profit"] = df.revenue_musd.sub(df.budget_musd)
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.55
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.00,6.90,17.02,104.00,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston,197.80
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch,NaN
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker,65.45
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer,NaN

In [11]:
df.iloc[df.profit.sort_values(ascending = False).head(5).index].title

14448                          Avatar
26265    Star Wars: The Force Awakens
1620                          Titanic
24812                  Jurassic World
28501                       Furious 7
Name: title, dtype: object

__Movies Top 5 - Lowest Profit__

In [12]:
df.iloc[df.profit.sort_values(ascending = True).head(5).index].title

20959                                The Lone Ranger
7164                                       The Alamo
16659                                Mars Needs Moms
43611    Valerian and the City of a Thousand Planets
2684                                The 13th Warrior
Name: title, dtype: object

__Movies Top 5 - Highest ROI__

- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)

In [13]:
df["return"] = df.revenue_musd.div(df.budget_musd)
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit,return
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.55,12.45
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.00,6.90,17.02,104.00,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston,197.80,4.04
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch,NaN,NaN
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker,65.45,5.09
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer,NaN,NaN

In [14]:
highbudget = df.loc[df.budget_musd >= 10].copy()
highbudget.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit,return
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.55,12.45
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.00,6.90,17.02,104.00,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston,197.80,4.04
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker,65.45,5.09
5,949,Heat,A Los Angeles Crime Saga,1995-12-15,Action|Crime|Drama|Thriller,NaN,en,60.00,187.44,Regency Enterprises|Forward Pass|Warner Bros.,United States of America,1886.00,7.70,17.92,170.00,"Obsessive master thief, Neil McCauley leads a ...",English|Español,<img src='http://image.tmdb.org/t/p/w185//lbf2...,Al Pacino|Robert De Niro|Val Kilmer|Jon Voight...,65,71,Michael Mann,127.44,3.12
6,11860,Sabrina,You are cordially invited to the most surprisi...,1995-12-15,Comedy|Romance,NaN,en,58.00,NaN,Paramount Pictures|Scott Rudin Productions|Mir...,Germany|United States of America,141.00,6.20,6.68,127.00,An ugly duckling having undergone a remarkable...,Français|English,<img src='http://image.tmdb.org/t/p/w185//z1oN...,Harrison Ford|Julia Ormond|Greg Kinnear|Angie ...,57,53,Sydney Pollack,NaN,NaN

In [15]:
highbudget.sort_values(by = "return", ascending = False).head(5).title

1055     E.T. the Extra-Terrestrial
255                       Star Wars
588                    Pretty Woman
18300              The Intouchables
1144        The Empire Strikes Back
Name: title, dtype: object

__Movies Top 5 - Lowest ROI__

In [16]:
highbudget.sort_values(by = "return", ascending = True).head(5).title

6955     Chasing Liberty
8041         The Cookout
17381           Deadfall
6678          In the Cut
20015      The Samaritan
Name: title, dtype: object

__Movies Top 5 - Most Votes__

- Highest number of Votes

In [17]:
df.iloc[df.vote_count.sort_values(ascending = False).head(5).index].title

15368          Inception
12396    The Dark Knight
14448             Avatar
17669       The Avengers
26272           Deadpool
Name: title, dtype: object

__Movies Top 5 - Highest Rating__
- among those with at least 10 vote_count

In [18]:
highVoteCount = df.loc[df.vote_count >= 10].copy()
highVoteCount

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit,return
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.55,12.45
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.00,6.90,17.02,104.00,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston,197.80,4.04
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch,NaN,NaN
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker,65.45,5.09
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44668,49279,The Man with the Rubber Head,NaN,1901-01-01,Comedy|Fantasy|Science Fiction,NaN,fr,NaN,NaN,Star Film Company,France,29.00,7.60,1.62,3.00,A chemist in his laboratory places upon a tabl...,NaN,<img src='http://image.tmdb.org/t/p/w185//ty7W...,Georges Méliès,1,3,Georges Méliès,NaN,NaN
44671,49271,The Devilish Tenant,NaN,1909-01-01,Fantasy|Comedy,NaN,en,NaN,NaN,Star Film Company,France,12.00,6.70,0.73,6.00,A man rents an apartment and furnishes it in r...,NaN,<img src='http://image.tmdb.org/t/p/w185//zY6V...,André Méliès|Georges Méliès,2,1,Georges Méliès,NaN,NaN
44675,49280,The One-Man Band,NaN,1900-01-01,Fantasy|Action|Thriller,NaN,fr,NaN,NaN,Star Film Company,France,22.00,6.50,1.11,1.00,A band-leader has arranged seven chairs for th...,No Language,<img src='http://image.tmdb.org/t/p/w185//tZbh...,Georges Méliès,1,1,Georges Méliès,NaN,NaN
44678,404604,Mom,NaN,2017-07-07,Crime|Drama|Thriller,NaN,hi,NaN,NaN,Mad Films|Third Eye Pictures,India,14.00,6.60,1.56,146.00,The bliss of a biology teacher’s family life i...,हिन्दी,<img src='http://image.tmdb.org/t/p/w185//zZwb...,Sridevi Kapoor|Sajal Ali|Akshaye Khanna|Nawazu...,8,17,Ravi Udyawar,NaN,NaN
44685,30840,Robin Hood,NaN,1991-05-13,Drama|Action|Romance,NaN,en,NaN,NaN,Westdeutscher Rundfunk (WDR)|Working Title Fil...,Canada|Germany|United Kingdom|United States of...,26.00,5.70,5.68,104.00,"Yet another version of the classic epic, with ...",English,<img src='http://image.tmdb.org/t/p/w185//rmVy...,Patrick Bergin|Uma Thurman|David Morrissey|Jür...,5,9,John Irvin,NaN,NaN

In [19]:
highVoteCount.reset_index(inplace = True)

In [20]:
highVoteCount.iloc[highVoteCount.vote_average.sort_values(ascending = False).head(5).index].title

14094    As I Was Moving Ahead Occasionally I Saw Brief...
22174                                      Planet Earth II
12919                                        The Civil War
7978                           Dilwale Dulhania Le Jayenge
22241                                               Cosmos
Name: title, dtype: object

__Movies Top 5 - Lowest Rating__

In [21]:
df.iloc[df.vote_average.sort_values(ascending = True).head(5).index].title

24522                            Dance, Fools, Dance
37762    .hack Liminality: In the Case of Mai Minase
26403                                Lucrezia Borgia
12189                                    Joe and Max
20450                                 The Substitute
Name: title, dtype: object

__Movies Top 5 - Most Popular__

In [22]:
df.iloc[df.popularity.sort_values(ascending = False).head(5).index].title

30330                 Minions
32927            Wonder Woman
41556    Beauty and the Beast
42940             Baby Driver
24187              Big Hero 6
Name: title, dtype: object

## Find your next Movie

3. __Filter__ the Dataset for movies that meet the following conditions:

__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

In [23]:
df.genres[0]

'Animation|Comedy|Family'

In [24]:
mask1 = df.genres.str.lower().str.contains("science fiction")
mask2 = df.cast.str.lower().str.contains("bruce willis")

In [25]:
((df.genres.str.lower().str.contains("science fiction")) & (df.cast.str.lower().str.contains("bruce willis"))).sum()

10

In [26]:
df_focus = df.loc[mask1 & mask2].copy()
df_focus.title

31              Twelve Monkeys
499                      North
1448         The Fifth Element
1786                Armageddon
3836               Unbreakable
11489     The Astronaut Farmer
14135               Surrogates
19218                   Looper
20333    G.I. Joe: Retaliation
27619                     Vice
Name: title, dtype: object

In [27]:
bruceInScienceFiction = df_focus.sort_values(by = "vote_average", ascending = False)
bruceInScienceFiction.title

31              Twelve Monkeys
1448         The Fifth Element
3836               Unbreakable
19218                   Looper
1786                Armageddon
11489     The Astronaut Farmer
14135               Surrogates
20333    G.I. Joe: Retaliation
499                      North
27619                     Vice
Name: title, dtype: object

In [28]:
bruceInScienceFiction = bruceInScienceFiction[["poster_path", "title","vote_average"]].copy()
bruceInScienceFiction

,poster_path,title,vote_average
31,<img src='http://image.tmdb.org/t/p/w185//2F9K...,Twelve Monkeys,7.40
1448,<img src='http://image.tmdb.org/t/p/w185//fPtl...,The Fifth Element,7.30
3836,<img src='http://image.tmdb.org/t/p/w185//kXkV...,Unbreakable,6.90
19218,<img src='http://image.tmdb.org/t/p/w185//sNjL...,Looper,6.60
1786,<img src='http://image.tmdb.org/t/p/w185//fMtO...,Armageddon,6.50
11489,<img src='http://image.tmdb.org/t/p/w185//19uG...,The Astronaut Farmer,6.20
14135,<img src='http://image.tmdb.org/t/p/w185//v3Z0...,Surrogates,5.90
20333,<img src='http://image.tmdb.org/t/p/w185//3rWI...,G.I. Joe: Retaliation,5.40
499,<img src='http://image.tmdb.org/t/p/w185//qXTw...,North,4.80
27619,<img src='http://image.tmdb.org/t/p/w185//nPqN...,Vice,4.10

In [29]:
from IPython.display import HTML
pd.options.display.max_colwidth = 200

In [30]:
HTML(bruceInScienceFiction.to_html(escape=False))

__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (sorted from short to long runtime)__

In [31]:
mask3 = df.cast.str.lower().str.contains("uma thurman")
mask4 = df.director.str.lower().str.contains("quentin tarantino")

In [32]:
((df.cast.str.lower().str.contains("uma thurman")) & (df.director.str.lower().str.contains("quentin tarantino"))).sum()

3

In [33]:
df_focus2 = df.loc[mask3 & mask4].copy()
df_focus2.title

291          Pulp Fiction
6667    Kill Bill: Vol. 1
7208    Kill Bill: Vol. 2
Name: title, dtype: object

In [34]:
uma_thurman_by_tarantino = df_focus2.sort_values(by = "runtime", ascending = True)
uma_thurman_by_tarantino.title

6667    Kill Bill: Vol. 1
7208    Kill Bill: Vol. 2
291          Pulp Fiction
Name: title, dtype: object

In [35]:
uma_thurman_by_tarantino = uma_thurman_by_tarantino[["poster_path", "title","runtime"]].copy()
uma_thurman_by_tarantino

,poster_path,title,runtime
6667,<img src='http://image.tmdb.org/t/p/w185//v7TaX8kXMXs5yFFGR41guUDNcnB.jpg' style='height:100px;'>,Kill Bill: Vol. 1,111.00
7208,<img src='http://image.tmdb.org/t/p/w185//2yhg0mZQMhDyvUQ4rG1IZ4oIA8L.jpg' style='height:100px;'>,Kill Bill: Vol. 2,136.00
291,<img src='http://image.tmdb.org/t/p/w185//d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg' style='height:100px;'>,Pulp Fiction,154.00

In [36]:
HTML(uma_thurman_by_tarantino.to_html(escape=False))

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (sorted from high to low Revenue)__

- (Method 1) month method

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

In [38]:
df = pd.read_csv("movies_complete.csv", index_col = [3], parse_dates = [3])
df.head()

,id,title,tagline,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
release_date,,,,,,,,,,,,,,,,,,,,,
1995-10-30,862,Toy Story,NaN,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circum...",English,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,13,106,John Lasseter
1995-12-15,8844,Jumanji,Roll the dice and unleash the excitement!,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Communications,United States of America,2413.00,6.90,17.02,104.00,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- in...",English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...,26,16,Joe Johnston
1995-12-22,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for Love.,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming t...",English,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,7,4,Howard Deutch
1995-12-22,31357,Waiting to Exhale,Friends are the people who let you be yourself... and never let you forget it.,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, ...",English,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes,10,10,Forest Whitaker
1995-02-10,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home...",English,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,Steve Martin|Diane Keaton|Martin Short|Kimberly Williams-Paisley|George Newbern|Kieran Culkin|BD Wong|Peter Michael Goetz|Kate McGregor-Stewart|Jane Adams|Eugene Levy|Lori Alan,12,7,Charles Shyer

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 44691 entries, 1995-10-30 to 2017-06-09
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44691 non-null  int64
 1   title                  44691 non-null  object
 2   tagline                20284 non-null  object
 3   genres                 42586 non-null  object
 4   belongs_to_collection  4463 non-null   object
 5   original_language      44681 non-null  object
 6   budget_musd            8854 non-null   float64
 7   revenue_musd           7385 non-null   float64
 8   production_companies   33356 non-null  object
 9   production_countries   38835 non-null  object
 10  vote_count             44691 non-null  float64
 11  vote_average           42077 non-null  float64
 12  popularity             44691 non-null  float64
 13  runtime                43179 non-null  float64
 14  overview               43740 non-null  object
 15  spoken_languages       41094 non-null  object
 16  poster_path            44467 non-null  object
 17  cast                   42502 non-null  object
 18  cast_size              44691 non-null  int64
 19  crew_size              44691 non-null  int64
 20  director               43960 non-null  object
dtypes: float64(6), int64(3), object(12)
memory usage: 7.5+ MB

In [40]:
import calendar
import datetime

In [41]:
df.index.month

Float64Index([10.0, 12.0, 12.0, 12.0,  2.0, 12.0, 12.0, 12.0, 12.0, 11.0,
              ...
               3.0, 10.0, 10.0,  1.0,  5.0,  nan, 11.0,  8.0, 10.0,  6.0],
             dtype='float64', name='release_date', length=44691)

In [42]:
df["year"] = df.index.year
df.head()

,id,title,tagline,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,year
release_date,,,,,,,,,,,,,,,,,,,,,,
1995-10-30,862,Toy Story,NaN,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circum...",English,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,13,106,John Lasseter,1995.00
1995-12-15,8844,Jumanji,Roll the dice and unleash the excitement!,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Communications,United States of America,2413.00,6.90,17.02,104.00,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- in...",English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...,26,16,Joe Johnston,1995.00
1995-12-22,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for Love.,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming t...",English,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,7,4,Howard Deutch,1995.00
1995-12-22,31357,Waiting to Exhale,Friends are the people who let you be yourself... and never let you forget it.,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, ...",English,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes,10,10,Forest Whitaker,1995.00
1995-02-10,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home...",English,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,Steve Martin|Diane Keaton|Martin Short|Kimberly Williams-Paisley|George Newbern|Kieran Culkin|BD Wong|Peter Michael Goetz|Kate McGregor-Stewart|Jane Adams|Eugene Levy|Lori Alan,12,7,Charles Shyer,1995.00

In [43]:
mask5 = df.production_companies.str.lower().str.contains("pixar")
mask6 = ((df.year >= 2010) & (df.year <= 2015))

In [44]:
df_focus3 = df.loc[mask5 & mask6].copy()
df_focus3.title

release_date
2010-06-16                   Toy Story 3
2010-06-17                   Day & Night
2011-06-11                        Cars 2
2012-06-21                         Brave
2013-06-20           Monsters University
2013-02-12             The Blue Umbrella
2013-10-15          Toy Story of Terror!
2011-01-01                       La luna
2011-06-16             Hawaiian Vacation
2011-11-23                     Small Fry
2012-09-14               Partysaurus Rex
2012-01-01          The Legend of Mor'du
2014-12-02    Toy Story That Time Forgot
2015-06-09                    Inside Out
2015-11-14             The Good Dinosaur
2015-06-21                          Lava
2015-11-25           Sanjay's Super Team
2011-08-04                     Air Mater
2015-11-03           Riley's First Date?
Name: title, dtype: object

In [45]:
df_focus3.sort_values(by = "revenue_musd", ascending = False).title

release_date
2010-06-16                   Toy Story 3
2015-06-09                    Inside Out
2013-06-20           Monsters University
2011-06-11                        Cars 2
2012-06-21                         Brave
2015-11-14             The Good Dinosaur
2010-06-17                   Day & Night
2013-02-12             The Blue Umbrella
2013-10-15          Toy Story of Terror!
2011-01-01                       La luna
2011-06-16             Hawaiian Vacation
2011-11-23                     Small Fry
2012-09-14               Partysaurus Rex
2012-01-01          The Legend of Mor'du
2014-12-02    Toy Story That Time Forgot
2015-06-21                          Lava
2015-11-25           Sanjay's Super Team
2011-08-04                     Air Mater
2015-11-03           Riley's First Date?
Name: title, dtype: object

- (Method 2) betweeen method using parse_dates = [""] when importing

In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

In [47]:
df = pd.read_csv("movies_complete.csv", parse_dates = ["release_date"])
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circum...",English,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Communications,United States of America,2413.00,6.90,17.02,104.00,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- in...",English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for Love.,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming t...",English,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself... and never let you forget it.,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, ...",English,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home...",English,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,Steve Martin|Diane Keaton|Martin Short|Kimberly Williams-Paisley|George Newbern|Kieran Culkin|BD Wong|Peter Michael Goetz|Kate McGregor-Stewart|Jane Adams|Eugene Levy|Lori Alan,12,7,Charles Shyer

In [48]:
mask_alt1 = df.production_companies.str.lower().str.contains("pixar")
mask_alt2 = df.release_date.between("2010-01-01", "2015-12-31")

In [49]:
df_focus_alt = df.loc[mask_alt1 & mask_alt2].copy()
df_focus_alt.title

15236                   Toy Story 3
16392                   Day & Night
17220                        Cars 2
18900                         Brave
20888           Monsters University
21694             The Blue Umbrella
21697          Toy Story of Terror!
22489                       La luna
24252             Hawaiian Vacation
24254                     Small Fry
25515               Partysaurus Rex
25516          The Legend of Mor'du
25517    Toy Story That Time Forgot
29957                    Inside Out
30388             The Good Dinosaur
31803                          Lava
34560           Sanjay's Super Team
40259                     Air Mater
40675           Riley's First Date?
Name: title, dtype: object

In [50]:
df_focus_alt.sort_values(by = "revenue_musd", ascending = False).head().title

15236            Toy Story 3
29957             Inside Out
20888    Monsters University
17220                 Cars 2
18900                  Brave
Name: title, dtype: object

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent movies first)__

In [51]:
df.original_language

0        en
1        en
2        en
3        en
4        en
         ..
44686    fa
44687    tl
44688    en
44689    en
44690    en
Name: original_language, Length: 44691, dtype: object

In [52]:
df.vote_average

0       7.70
1       6.90
2       6.50
3       6.10
4       5.70
        ...
44686   4.00
44687   9.00
44688   3.80
44689    NaN
44690    NaN
Name: vote_average, Length: 44691, dtype: float64

In [53]:
mask7 = df.genres.str.lower().str.contains("action")
mask8 = df.genres.str.lower().str.contains("thriller")

mask7_and_8 = df.genres.str.lower().str.contains("action") | df.genres.str.lower().str.contains("thriller")

In [54]:
df_focus5 = df.loc[mask7 | mask8].copy()

In [55]:
mask9 = df_focus5.original_language.str.lower().str.contains("en")
mask10 = (df_focus5.vote_average >= 7.5)

In [56]:
df_focus6 = df_focus5.loc[mask9 & mask10].copy()

In [57]:
df_focus6.sort_values(by='release_date', ascending = False).head().title

44490                     Descendants 2
43941                           Dunkirk
42624                 The Book of Henry
26273    Guardians of the Galaxy Vol. 2
43467                       Revengeance
Name: title, dtype: object

## Are Franchises more successful?

4. __Analyze__ the Dataset and __find out whether Franchises (Movies that belong to a collection) are more successful than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

hint: use groupby()

__Franchise vs. Stand-alone: Average Revenue__

In [58]:
df = pd.read_csv("movies_complete.csv")
df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circum...",English,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Communications,United States of America,2413.00,6.90,17.02,104.00,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- in...",English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for Love.,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming t...",English,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself... and never let you forget it.,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, ...",English,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home...",English,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,Steve Martin|Diane Keaton|Martin Short|Kimberly Williams-Paisley|George Newbern|Kieran Culkin|BD Wong|Peter Michael Goetz|Kate McGregor-Stewart|Jane Adams|Eugene Levy|Lori Alan,12,7,Charles Shyer

- (Method 1) Data splitting using inner join and anti join

In [59]:
collectionGroup = df.groupby("belongs_to_collection").revenue_musd.mean()
collectionGroup

belongs_to_collection
... Has Fallen Collection              183.39
00 Schneider Filmreihe                    NaN
08/15 Collection                          NaN
100 Girls Collection                      NaN
101 Dalmatians (Animated) Collection   215.88
                                        ...
Сказки Чуковского                         NaN
Чебурашка и крокодил Гена                 NaN
Что Творят мужчины! (Коллекция)           NaN
男はつらいよ シリーズ                               NaN
식객 시리즈                                    NaN
Name: revenue_musd, Length: 1691, dtype: float64

In [60]:
df_collection = pd.merge(df, collectionGroup, how = "inner", left_on= "belongs_to_collection", right_on = "belongs_to_collection")
df_collection

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd_x,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,revenue_musd_y
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circum...",English,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,13,106,John Lasseter,645.96
1,863,Toy Story 2,The toys are back!,1999-10-30,Animation|Comedy|Family,Toy Story Collection,en,90.00,497.37,Pixar Animation Studios,United States of America,3914.00,7.30,17.55,92.00,"Andy heads off to Cowboy Camp, leaving his toys to their own devices. Things shift into high gear when an obsessive toy collector named Al McWhiggen, owner of Al's Toy Barn kidnaps Woody. Andy's t...",English,<img src='http://image.tmdb.org/t/p/w185//eVGu0zsezaSCuN67zgNhzjeNI9Z.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Joan Cusack|Kelsey Grammer|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|Wayne Knight|John Morris|Laurie Metcalf|Estelle Harris|R. Lee Ermey|Jodi Benson|Jo...,24,172,John Lasseter,645.96
2,10193,Toy Story 3,No toy gets left behind.,2010-06-16,Animation|Family|Comedy,Toy Story Collection,en,200.00,1066.97,Walt Disney Pictures|Pixar Animation Studios,United States of America,4710.00,7.60,16.97,103.00,"Woody, Buzz, and the rest of Andy's toys haven't been played with in years. With Andy about to go to college, the gang find themselves accidentally left at a nefarious day care center. The toys mu...",English|Español,<img src='http://image.tmdb.org/t/p/w185//amY0NH1ksd9xJ9boXAMmods6U0D.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Ned Beatty|Joan Cusack|Michael Keaton|Whoopi Goldberg|Bonnie Hunt|Wallace Shawn|John Ratzenberger|Don Rickles|Estelle Harris|John Morris|Jodi Benson|Emily Hahn|Laurie Metcalf|B...,45,38,Lee Unkrich,645.96
3,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for Love.,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming t...",English,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,7,4,Howard Deutch,NaN
4,11520,Grumpy Old Men,The best of enemies until something came between them.,1993-12-25,Comedy|Family|Romance,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate|John Davis,United States of America,176.00,6.50,7.53,103.00,"For decades, next-door neighbors and former friends John and Max have feuded, trading insults and wicked pranks. When an attractive widow moves in nearby, their bad blood erupts into a high-stakes...",English,<img src='http://image.tmdb.org/t/p/w185//w4q0vMlJCeNQnUMsVbjB3DiH1mw.jpg' style='height:100px;'>,Jack Lemmon|Walter Matthau|Ann-Margret|Burgess Meredith|Daryl Hannah|Kevin Pollak|Ossie Davis|Buck Henry|Christopher McDonald|John Carroll Lynch,10,7,Donald Petrie,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4458,79701,Gena the Crocodile,NaN,1969-12-30,Animation|Family,Чебурашка и крокодил Гена,ru,NaN,NaN,NaN,NaN,7.00,6.70,0.88,20.00,First animation about Gena and Cheburashka.,Pусский,<img src='http://image.tmdb.org/t/p/w185//hxFetYaBmFmu5s8IJPr8aK6vRct.jpg' style='height:100px;'>,Vasiliy Livanov|Klara Rumyanova,2,1,Roman Kachanov,NaN
4459,68637,Ducoboo,NaN,2011-06-22,Comedy,Ducobu Collection,fr,NaN,NaN,Union Générale Cinématographique (UGC),France,79.00,4.90,3.58,NaN,"Ducoboo is a very inventive dunce and joker, he is very resourceful at finding new ways to copy from his neighbor, to cheat or to defy the teacher's authority.",Français,<img src='http://image.tmdb.org/t/p/w185//7yBAztIrw9kipSLFJUUI7oo6Q8j.jpg' style='height:100px;'>,Elie Semoun|Joséphine de Meaux|Vincent Claude|Bruno Podalydès|Héléna Noguerra,5,4,Philippe de Chauveron,NaN
4460,78359,Mister Blot's Academy,NaN,1984-01-30,Fantasy|Family,Mister Blot Collection,pl,NaN,NaN,NaN,Poland|Russia,5.00,6.00,1.08,166.00,"Thanks to the powers of magic, Adaś Niezgódka is transported to the fairy tale land of Mr. Blot – the protagonist of Jan Brzechwa’s classic book. Mr. Blot is a teacher and a magician in one. His l...",Polski,<img src='http://image.tmdb.org/t/p/w185//kwkOe0hiMcklE7S7FGgZzJhCLoG.jpg' style='height:100px;'>,Piotr Fronczewski|Slavek Wronka|Leon Niemczyk|Wiesław Michnikowski|Bronisław Pawlik|Lembit Ulfsak|Irena Karel|Lech Ordon|Zbigniew Buczkowski,9,3,Krzysztof Gradowski,NaN
4461,152912,Mr. Blot in Space,NaN,1988-12-05,Fantasy|Family,Mister Blot Collection,pl,NaN,NaN,Slovenská filmová tvorba Koliba (SFT)|Wytwórnia Filmów Fabularnych (WFF) Wroclaw,Poland|Czech Republic|Slovakia,0.00,NaN,0.65,148.00,"It's Christmas, and children at an orphanage in Maliszewo receive a computer that was given to them by another orphan who used to live there many years ago. During the night, the computer awakes i...",Polski,<img src='http://image.tmdb.org/t/p/w185//r7jSszsFLlEszoORv1juGA2bMd2.jpg' style='height:100px;'>,Piotr Fronczewski|Henryk Bista|Zbigniew Buczkowski|Izabella Miko,4,2,Krzysztof Gradowski,NaN
4462,182030,The Twin Swords,NaN,1965-12-22,Action|Foreign,Red Lotus Collection,zh,NaN,NaN,Shaw Brothers,NaN,4.00,5.60,0.67,88.00,"Kwei Wu happens upon a kidnapping with his wife Kan Lien-chu at the Red Lotus Temple. Kan sends Kwei to go for reinforcements while she stays to fight the kidnappers. Fortunately, the mysterious S...",普通话,<img src='http://image.tmdb.org/t/p/w185//nB2wSfGtiPzch51sIEyodrh4HBz.jpg' style='height:100px;'>,Jimmy Wang Yu|Chin Ping|Ivy Ling Po|Petrina Fung Bo-Bo|Petrina Fung Bo-Bo|Lo Lieh|Tien Feng|Lam Jing|Chiu Ming|Lau Leung-Wa|Go Bo-Shu|Ku Feng|Cheng Miu|Fung Ngai,14,4,Hsu Tseng-Hung,NaN

In [61]:
df_collection.revenue_musd_x.mean()

165.70819260175793

In [62]:
temp1 = df.merge(collectionGroup, on='belongs_to_collection', how='left', indicator=True)

In [63]:
temp2 = temp1.loc[temp1['_merge'] == 'left_only', 'belongs_to_collection']

In [64]:
anti_join = df[df['belongs_to_collection'].isin(temp2)].copy()
anti_join.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Communications,United States of America,2413.00,6.90,17.02,104.00,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- in...",English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...,26,16,Joe Johnston
3,31357,Waiting to Exhale,Friends are the people who let you be yourself... and never let you forget it.,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, ...",English,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes,10,10,Forest Whitaker
5,949,Heat,A Los Angeles Crime Saga,1995-12-15,Action|Crime|Drama|Thriller,NaN,en,60.00,187.44,Regency Enterprises|Forward Pass|Warner Bros.,United States of America,1886.00,7.70,17.92,170.00,"Obsessive master thief, Neil McCauley leads a top-notch crew on various insane heists throughout Los Angeles while a mentally unstable detective, Vincent Hanna pursues him without rest. Each man r...",English|Español,<img src='http://image.tmdb.org/t/p/w185//lbf2ueoiEfKIJr2qlT01zIEckbC.jpg' style='height:100px;'>,Al Pacino|Robert De Niro|Val Kilmer|Jon Voight|Tom Sizemore|Diane Venora|Amy Brenneman|Ashley Judd|Mykelti Williamson|Natalie Portman|Ted Levine|Tom Noonan|Tone Loc|Hank Azaria|Wes Studi|Dennis Ha...,65,71,Michael Mann
6,11860,Sabrina,You are cordially invited to the most surprising merger of the year.,1995-12-15,Comedy|Romance,NaN,en,58.00,NaN,Paramount Pictures|Scott Rudin Productions|Mirage Enterprises|Sandollar Productions|Constellation Entertainment|Worldwide|Mont Blanc Entertainment GmbH,Germany|United States of America,141.00,6.20,6.68,127.00,"An ugly duckling having undergone a remarkable change, still harbors feelings for her crush: a carefree playboy, but not before his business-focused brother has something to say about it.",Français|English,<img src='http://image.tmdb.org/t/p/w185//z1oNjotUI7D06J4LWQFQzdIuPnf.jpg' style='height:100px;'>,Harrison Ford|Julia Ormond|Greg Kinnear|Angie Dickinson|Nancy Marchand|John Wood|Richard Crenna|Lauren Holly|Dana Ivey|Fanny Ardant|Patrick Bruel|Paul Giamatti|Miriam Colón|Elizabeth Franz|Valérie...,57,53,Sydney Pollack
7,45325,Tom and Huck,The Original Bad Boys.,1995-12-22,Action|Adventure|Drama|Family,NaN,en,NaN,NaN,Walt Disney Pictures,United States of America,45.00,5.40,2.56,97.00,"A mischievous young boy, Tom Sawyer, witnesses a murder by the deadly Injun Joe. Tom becomes friends with Huckleberry Finn, a boy with no future and no family. Tom has to choose between honoring a...",English|Deutsch,<img src='http://image.tmdb.org/t/p/w185//6yoxUnUnWVmWkrRBPCAFARctZDF.jpg' style='height:100px;'>,Jonathan Taylor Thomas|Brad Renfro|Rachael Leigh Cook|Michael McShane|Amy Wright|Eric Schweig|Tamara Mello,7,4,Peter Hewitt

In [65]:
anti_join.revenue_musd.mean()

44.7428140060955

- (Method 2) Having a column indicator

In [66]:
df["Franchise"] = df.belongs_to_collection.notna()
# notna(): Return a boolean same-sized object indicating if the values are not NA.

In [67]:
df.head()
# True or False to whether it's franchise or non-franchise

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,Franchise
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circum...",English,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,13,106,John Lasseter,True
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Communications,United States of America,2413.00,6.90,17.02,104.00,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- in...",English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...,26,16,Joe Johnston,False
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for Love.,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming t...",English,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,7,4,Howard Deutch,True
3,31357,Waiting to Exhale,Friends are the people who let you be yourself... and never let you forget it.,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, ...",English,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes,10,10,Forest Whitaker,False
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home...",English,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,Steve Martin|Diane Keaton|Martin Short|Kimberly Williams-Paisley|George Newbern|Kieran Culkin|BD Wong|Peter Michael Goetz|Kate McGregor-Stewart|Jane Adams|Eugene Levy|Lori Alan,12,7,Charles Shyer,True

In [68]:
df.groupby("Franchise").revenue_musd.mean()

Franchise
False    44.74
True    165.71
Name: revenue_musd, dtype: float64

__Franchise vs. Stand-alone: Return on Investment / Profitability (median)__

In [69]:
df_collection["roi"] = round((df_collection.revenue_musd_x/df_collection.budget_musd), 2)

In [70]:
df_collection.roi.median()

3.71

In [71]:
anti_join["roi"] = round((anti_join.revenue_musd/anti_join.budget_musd), 2)

In [72]:
anti_join.roi.median()

1.62

__Franchise vs. Stand-alone: Average Budget__

In [73]:
df_collection.budget_musd.mean()

38.31984712958281

In [74]:
anti_join.budget_musd.mean()

18.047741174779976

__Franchise vs. Stand-alone: Average Popularity__

In [75]:
df_collection.popularity.mean()

6.245051188662335

In [76]:
anti_join.popularity.mean()

2.592726062543502

__Franchise vs. Stand-alone: Average Rating__

In [77]:
df_collection.vote_average.mean()

5.956805807622504

In [78]:
anti_join.vote_average.mean()

6.008787066287929

__Agg methods to put it together__

In [79]:
df["roi"] = df.revenue_musd.div(df.budget_musd)

In [80]:
df.groupby("Franchise").agg({"budget_musd": "mean", "revenue_musd": "mean", "vote_average": "mean",
                            "popularity": "mean", "roi":"median", "vote_count":"mean"})

,budget_musd,revenue_musd,vote_average,popularity,roi,vote_count
Franchise,,,,,,
False,18.05,44.74,6.01,2.59,1.62,78.29
True,38.32,165.71,5.96,6.25,3.71,412.39

## Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

In [81]:
df_collection.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd_x,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,revenue_musd_y,roi
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circum...",English,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,13,106,John Lasseter,645.96,12.45
1,863,Toy Story 2,The toys are back!,1999-10-30,Animation|Comedy|Family,Toy Story Collection,en,90.00,497.37,Pixar Animation Studios,United States of America,3914.00,7.30,17.55,92.00,"Andy heads off to Cowboy Camp, leaving his toys to their own devices. Things shift into high gear when an obsessive toy collector named Al McWhiggen, owner of Al's Toy Barn kidnaps Woody. Andy's t...",English,<img src='http://image.tmdb.org/t/p/w185//eVGu0zsezaSCuN67zgNhzjeNI9Z.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Joan Cusack|Kelsey Grammer|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|Wayne Knight|John Morris|Laurie Metcalf|Estelle Harris|R. Lee Ermey|Jodi Benson|Jo...,24,172,John Lasseter,645.96,5.53
2,10193,Toy Story 3,No toy gets left behind.,2010-06-16,Animation|Family|Comedy,Toy Story Collection,en,200.00,1066.97,Walt Disney Pictures|Pixar Animation Studios,United States of America,4710.00,7.60,16.97,103.00,"Woody, Buzz, and the rest of Andy's toys haven't been played with in years. With Andy about to go to college, the gang find themselves accidentally left at a nefarious day care center. The toys mu...",English|Español,<img src='http://image.tmdb.org/t/p/w185//amY0NH1ksd9xJ9boXAMmods6U0D.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Ned Beatty|Joan Cusack|Michael Keaton|Whoopi Goldberg|Bonnie Hunt|Wallace Shawn|John Ratzenberger|Don Rickles|Estelle Harris|John Morris|Jodi Benson|Emily Hahn|Laurie Metcalf|B...,45,38,Lee Unkrich,645.96,5.33
3,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for Love.,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming t...",English,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,7,4,Howard Deutch,NaN,NaN
4,11520,Grumpy Old Men,The best of enemies until something came between them.,1993-12-25,Comedy|Family|Romance,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate|John Davis,United States of America,176.00,6.50,7.53,103.00,"For decades, next-door neighbors and former friends John and Max have feuded, trading insults and wicked pranks. When an attractive widow moves in nearby, their bad blood erupts into a high-stakes...",English,<img src='http://image.tmdb.org/t/p/w185//w4q0vMlJCeNQnUMsVbjB3DiH1mw.jpg' style='height:100px;'>,Jack Lemmon|Walter Matthau|Ann-Margret|Burgess Meredith|Daryl Hannah|Kevin Pollak|Ossie Davis|Buck Henry|Christopher McDonald|John Carroll Lynch,10,7,Donald Petrie,NaN,NaN

In [82]:
df_collection.groupby(["belongs_to_collection"])["title"].nunique().sort_values(ascending = False)

belongs_to_collection
The Bowery Boys                               29
Totò Collection                               27
Zatôichi: The Blind Swordsman                 26
The Carry On Collection                       25
James Bond Collection                         25
                                              ..
The Adventures of Mickey Matson Collection     1
Hailey Dean Mystery Collection                 1
The 1997 Trilogy                               1
Hard Time Collection                           1
Flesh Gordon Collection                        1
Name: title, Length: 1691, dtype: int64

In [83]:
df_collection.groupby(["belongs_to_collection"])["budget_musd"].sum().sort_values(ascending = False)

belongs_to_collection
James Bond Collection                 1539.65
Harry Potter Collection               1280.00
Pirates of the Caribbean Collection   1250.00
The Fast and the Furious Collection   1009.00
X-Men Collection                       983.00
                                        ...
Little Bear                              0.00
Lilla Jönsonligan Collection             0.00
Library Wars Collection                  0.00
Lezioni di Cioccolato Collection         0.00
식객 시리즈                                   0.00
Name: budget_musd, Length: 1691, dtype: float64

In [84]:
df_collection.groupby(["belongs_to_collection"])["budget_musd"].mean().sort_values(ascending = False)

belongs_to_collection
Tangled Collection                    260.00
The Avengers Collection               250.00
Pirates of the Caribbean Collection   250.00
The Hobbit Collection                 250.00
Man of Steel Collection               237.50
                                       ...
Параграф 78 - Дилогия                    NaN
Сказки Чуковского                        NaN
Чебурашка и крокодил Гена                NaN
男はつらいよ シリーズ                              NaN
식객 시리즈                                   NaN
Name: budget_musd, Length: 1691, dtype: float64

In [85]:
df_collection.groupby(["belongs_to_collection"])["revenue_musd_x"].sum().sort_values(ascending = False)

belongs_to_collection
Harry Potter Collection                7707.37
Star Wars Collection                   7434.49
James Bond Collection                  7106.97
The Fast and the Furious Collection    5125.10
Pirates of the Caribbean Collection    4521.58
                                         ...
Les Profs                                 0.00
Les Mystères de l'ouest (Collection)      0.00
Les Charlots - Saga                       0.00
Les Boys                                  0.00
식객 시리즈                                    0.00
Name: revenue_musd_x, Length: 1691, dtype: float64

In [86]:
df_collection.groupby(["belongs_to_collection"])["revenue_musd_x"].mean().sort_values(ascending = False)

belongs_to_collection
Avatar Collection                 2787.97
The Avengers Collection           1462.48
Frozen Collection                 1274.22
Finding Nemo Collection            984.45
The Hobbit Collection              978.51
                                    ...
Сказки Чуковского                     NaN
Чебурашка и крокодил Гена             NaN
Что Творят мужчины! (Коллекция)       NaN
男はつらいよ シリーズ                           NaN
식객 시리즈                                NaN
Name: revenue_musd_x, Length: 1691, dtype: float64

## Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of

- __total number of movies__
- __total revenue__

In [87]:
df.groupby(["director"])["id"].count().sort_values(ascending = False)

director
John Ford           66
Michael Curtiz      65
Werner Herzog       54
Alfred Hitchcock    53
Woody Allen         49
                    ..
Jason Zada           1
Jasper James         1
Javier Aguirre       1
Javier Balaguer      1
진모영                  1
Name: id, Length: 17349, dtype: int64

In [88]:
df.groupby(["director"])["revenue_musd"].sum().sort_values(ascending = False)

director
Steven Spielberg   9256.62
Peter Jackson      6528.24
Michael Bay        6437.47
James Cameron      5900.61
David Yates        5334.56
                     ...
Héctor Olivera        0.00
Hélène Fillières      0.00
Héléna Klotz          0.00
I. Robert Levy        0.00
진모영                   0.00
Name: revenue_musd, Length: 17349, dtype: float64

## Most Successful Actors

6. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total budget__
- __total revenue__

In [89]:
df = pd.read_csv("movies_complete.csv", index_col = 'id')
df.head()
# index_col = 'id' so that we can merge referring to the id.

,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
id,,,,,,,,,,,,,,,,,,,,,
862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.00,373.55,Pixar Animation Studios,United States of America,5415.00,7.70,21.95,81.00,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circum...",English,<img src='http://image.tmdb.org/t/p/w185//uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg' style='height:100px;'>,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,13,106,John Lasseter
8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.00,262.80,TriStar Pictures|Teitler Film|Interscope Communications,United States of America,2413.00,6.90,17.02,104.00,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- in...",English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg' style='height:100px;'>,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...,26,16,Joe Johnston
15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for Love.,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.00,6.50,11.71,101.00,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming t...",English,<img src='http://image.tmdb.org/t/p/w185//1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg' style='height:100px;'>,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,7,4,Howard Deutch
31357,Waiting to Exhale,Friends are the people who let you be yourself... and never let you forget it.,1995-12-22,Comedy|Drama|Romance,NaN,en,16.00,81.45,Twentieth Century Fox Film Corporation,United States of America,34.00,6.10,3.86,127.00,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, ...",English,<img src='http://image.tmdb.org/t/p/w185//4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg' style='height:100px;'>,Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes,10,10,Forest Whitaker
11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.58,Sandollar Productions|Touchstone Pictures,United States of America,173.00,5.70,8.39,106.00,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home...",English,<img src='http://image.tmdb.org/t/p/w185//lf9RTErt8BSLQy98aSFblElvsCQ.jpg' style='height:100px;'>,Steve Martin|Diane Keaton|Martin Short|Kimberly Williams-Paisley|George Newbern|Kieran Culkin|BD Wong|Peter Michael Goetz|Kate McGregor-Stewart|Jane Adams|Eugene Levy|Lori Alan,12,7,Charles Shyer

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44691 entries, 862 to 461257
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  44691 non-null  object
 1   tagline                20284 non-null  object
 2   release_date           44657 non-null  object
 3   genres                 42586 non-null  object
 4   belongs_to_collection  4463 non-null   object
 5   original_language      44681 non-null  object
 6   budget_musd            8854 non-null   float64
 7   revenue_musd           7385 non-null   float64
 8   production_companies   33356 non-null  object
 9   production_countries   38835 non-null  object
 10  vote_count             44691 non-null  float64
 11  vote_average           42077 non-null  float64
 12  popularity             44691 non-null  float64
 13  runtime                43179 non-null  float64
 14  overview               43740 non-null  object
 15  spoken_languages       41094 non-null  object
 16  poster_path            44467 non-null  object
 17  cast                   42502 non-null  object
 18  cast_size              44691 non-null  int64
 19  crew_size              44691 non-null  int64
 20  director               43960 non-null  object
dtypes: float64(6), int64(2), object(13)
memory usage: 7.5+ MB

In [91]:
df.cast

id
862                                    Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette
8844      Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...
15602                                                                                                              Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak
31357                                                       Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes
11862                            Steve Martin|Diane Keaton|Martin Short|Kimberly Williams-Paisley|George Newbern|Kieran Culkin|BD Wong|Peter Michael Goetz|Kate McGregor-Stewart|Jane Adams|Eugene Levy|Lori Alan
                                                                                                           ...
439050                                                                                                                                                                    Leila Hatami|Kourosh Tahami|Elham Korda
111109                                                                     Angel Aquino|Perry Dizon|Hazel Orencio|Joel Torre|Bart Guingona|Soliman Cruz |Roeder|Angeli Bayani|Dante Perez|Betty Uy-Regala|Modesta
67758     Erika Eleniak|Adam Baldwin|Julie du Page|James Remar|Damian Chapa|Louis Mandylor|Tom Wright|Jeremy Lelliott|James Quattrochi|Jason Widener|Joe Sabatino|Kiko Ellsworth|Don Swayze|Peter Dobson|Darre...
227506                                                                                                                              Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlov|Aleksandr Chabrov|Vera Orlova
461257                                                                                                                                                                                                        NaN
Name: cast, Length: 44691, dtype: object

In [92]:
df2 = df.loc[:, ["title", "cast", "budget_musd", "revenue_musd", "vote_average"]]
df2.head()

,title,cast,budget_musd,revenue_musd,vote_average
id,,,,,
862,Toy Story,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wallace Shawn|John Ratzenberger|Annie Potts|John Morris|Erik von Detten|Laurie Metcalf|R. Lee Ermey|Sarah Freeman|Penn Jillette,30.00,373.55,7.70
8844,Jumanji,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bradley Pierce|Bonnie Hunt|Bebe Neuwirth|David Alan Grier|Patricia Clarkson|Adam Hann-Byrd|Laura Bell Bundy|James Handy|Gillian Barber|Brandon Obray|Cyru...,65.00,262.80,6.90
15602,Grumpier Old Men,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia Loren|Daryl Hannah|Burgess Meredith|Kevin Pollak,NaN,NaN,6.50
31357,Waiting to Exhale,Whitney Houston|Angela Bassett|Loretta Devine|Lela Rochon|Gregory Hines|Dennis Haysbert|Michael Beach|Mykelti Williamson|Lamont Johnson|Wesley Snipes,16.00,81.45,6.10
11862,Father of the Bride Part II,Steve Martin|Diane Keaton|Martin Short|Kimberly Williams-Paisley|George Newbern|Kieran Culkin|BD Wong|Peter Michael Goetz|Kate McGregor-Stewart|Jane Adams|Eugene Levy|Lori Alan,NaN,76.58,5.70

In [93]:
splitted = df2['cast'].str.split('|', expand=True)
splitted.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,...,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
862,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn,John Ratzenberger,Annie Potts,John Morris,Erik von Detten,Laurie Metcalf,R. Lee Ermey,Sarah Freeman,Penn Jillette,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8844,Robin Williams,Jonathan Hyde,Kirsten Dunst,Bradley Pierce,Bonnie Hunt,Bebe Neuwirth,David Alan Grier,Patricia Clarkson,Adam Hann-Byrd,Laura Bell Bundy,James Handy,Gillian Barber,Brandon Obray,Cyrus Thiedeke,Gary Joseph Thorup,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
15602,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren,Daryl Hannah,Burgess Meredith,Kevin Pollak,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
31357,Whitney Houston,Angela Bassett,Loretta Devine,Lela Rochon,Gregory Hines,Dennis Haysbert,Michael Beach,Mykelti Williamson,Lamont Johnson,Wesley Snipes,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
11862,Steve Martin,Diane Keaton,Martin Short,Kimberly Williams-Paisley,George Newbern,Kieran Culkin,BD Wong,Peter Michael Goetz,Kate McGregor-Stewart,Jane Adams,Eugene Levy,Lori Alan,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [94]:
splitted.stack()
# stacked by id

id
862     0            Tom Hanks
        1            Tim Allen
        2          Don Rickles
        3           Jim Varney
        4        Wallace Shawn
                   ...
227506  0     Iwan Mosschuchin
        1    Nathalie Lissenko
        2         Pavel Pavlov
        3    Aleksandr Chabrov
        4          Vera Orlova
Length: 557703, dtype: object

In [95]:
splitted.stack().reset_index().head()
#level_1 = the number of actors in an id

    id  level_1              0
0  862        0      Tom Hanks
1  862        1      Tim Allen
2  862        2    Don Rickles
3  862        3     Jim Varney
4  862        4  Wallace Shawn

In [96]:
splitted.stack().reset_index(level=1, drop=True)

id
862               Tom Hanks
862               Tim Allen
862             Don Rickles
862              Jim Varney
862           Wallace Shawn
                ...
227506     Iwan Mosschuchin
227506    Nathalie Lissenko
227506         Pavel Pavlov
227506    Aleksandr Chabrov
227506          Vera Orlova
Length: 557703, dtype: object

In [97]:
splitted = splitted.stack().reset_index(level=1, drop=True).to_frame()
splitted.head()

                 0
id
862      Tom Hanks
862      Tim Allen
862    Don Rickles
862     Jim Varney
862  Wallace Shawn

In [98]:
splitted.rename(columns = {0:"actors"}, inplace = True)
splitted.head()

            actors
id
862      Tom Hanks
862      Tim Allen
862    Don Rickles
862     Jim Varney
862  Wallace Shawn

In [99]:
merged = pd.merge(df2, splitted, how = "left", left_index = True, right_index = True).drop(columns = "cast")
merged.head()
# merge referring to each dataframe

,title,budget_musd,revenue_musd,vote_average,actors
id,,,,,
2,Ariel,NaN,NaN,7.10,Turo Pajala
2,Ariel,NaN,NaN,7.10,Susanna Haavisto
2,Ariel,NaN,NaN,7.10,Matti Pellonpää
2,Ariel,NaN,NaN,7.10,Eetu Hilkamo
3,Shadows in Paradise,NaN,NaN,7.10,Matti Pellonpää

In [100]:
merged.groupby(["actors"])["title"].nunique().sort_values(ascending = False)

actors
Bess Flowers         239
Christopher Lee      148
John Wayne           125
Samuel L. Jackson    122
John Carradine       109
                    ...
James Saunders         1
James Saxenmeyer       1
James Saxon            1
James Scales           1
조병만                    1
Name: title, Length: 201501, dtype: int64

In [101]:
merged.groupby(["actors"])["revenue_musd"].sum().sort_values(ascending = False)

actors
Stan Lee            19414.96
Samuel L. Jackson   17109.62
Warwick Davis       13256.03
Frank Welker        13044.15
John Ratzenberger   12596.13
                      ...
Janine Perreau          0.00
Janine Reynaud          0.00
Janine Souchon          0.00
Janine Venable          0.00
조병만                     0.00
Name: revenue_musd, Length: 201501, dtype: float64

In [102]:
merged.groupby(["actors"])["budget_musd"].sum().sort_values(ascending = False).head(70)

actors
Stan Lee            4889.50
Samuel L. Jackson   4855.67
Johnny Depp         3840.27
Morgan Freeman      3331.00
Bruce Willis        3304.45
                      ...
Andy Serkis         2131.00
Patrick Stewart     2129.30
Simon Pegg          2128.00
Vin Diesel          2110.00
Chris Hemsworth     2109.00
Name: budget_musd, Length: 70, dtype: float64